langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-corefaiss-cpu
pypdf
sentence-transformers
transformers
torch
groq
streamlit
langsmith
python-dotenv
tiktoken
rank_bm25
cryptography
